---
layout: layout.pug
//- title: "Hello"
---

.project
    .project-image
        .image(style=`background-image: url(/images/projects/${image})`)
    .project-desc
        h1=title

        p !{content}

        h3 Tech:

        p=tech

        .links
            if demo
                a(href=demo).button Demo
            if github
                a(href=github).button GitHub

    